
services:

  ###########################################
  # 1) API SERVICE (Your App)
  ###########################################
  Buyo-app:
    image: moawad114/buyo-app:latest
    expose:
      - "3000"
    env_file:
      - ./config/prod.env
    networks:
      - prod-net
    restart: unless-stopped   # بدل deploy.restart_policy

  ###########################################
  # 2) NGINX REVERSE PROXY
  ###########################################
  nginx:
    image: nginx:latest
    container_name: nginx-prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - Buyo-app
    networks:
      - prod-net
    restart: unless-stopped

  ###########################################
  # 3) WATCHTOWER (Auto Deployment)
  ###########################################
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower-prod
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30
    networks:
      - prod-net
    restart: unless-stopped

networks:
  prod-net:
    driver: bridge