version: "3.9"

services:

  ###########################################
  # 1) API SERVICE (Your App)
  ###########################################
  Buyo-app:
    build:
      target: prod
    env_file:
      - ./config/prod.env
    expose:
      - "3000"  
    networks:
      - prod-net
    deploy:
      replicas: 3                # عدد الحاويات في swarm
      update_config:             # rolling update
        parallelism: 1           # تحديث واحدة في كل مرة
        delay: 10s               # انتظار 10 ثواني بين كل تحديث
      restart_policy:
        condition: on-failure

  ###########################################
  # 2) NGINX REVERSE PROXY
  ###########################################
  nginx:
    image: nginx:latest
    container_name: nginx-prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - Buyo-app
    networks:
      - prod-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  ###########################################
  # 3) WATCHTOWER (Auto Deployment)
  ###########################################
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower-prod
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30       # يفحص كل 30 ثانية عن نسخة جديدة
    networks:
      - prod-net
    deploy:
      replicas: 1

networks:
  prod-net:
    driver: overlay